.App {
  text-align: center;
  padding-left: calc(100vw - 100%);
}

body {
  font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@900&family=Poppins:wght@300;400;600;700&display=swap");

.ant-page-header-heading-title {
  font-family: Poppins;
  font-weight: 600;
  color: #fffefe;
  text-align: left;
}

.big-title {
  will-change: transform;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  font-family: "Darker Grotesque" !important;
  color: #ffffff;
  font-size: 16vw !important;
  padding: 0 0 0.2em 0 !important;
  line-height: 1.5;
  text-shadow: -0.04em 0.04em 0 #f15bb5;
  -webkit-text-stroke: 0.03em #f15bb5;
  margin: 0;
}

.h3-playful {
  font-family: "Darker Grotesque" !important;
  color: #f15bb5;
  font-size: 6vw !important;
  margin: 0 0 20px 0 !important;
  text-shadow: -0.04em 0.04em 0 #fee440;
  -webkit-text-stroke: 0.015em #fee440;
}

.big-title:hover {
  color: #00bbf9;
}

header {
  background-color: #9b5de5 !important;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  background-color: #9b5de5 !important;
}

button {
  border-radius: 10px;
}

select {
  width: 200px;
}

/* .emojiboard {
  max-width: 800px;
  min-width: 300px;
  display: inline-block;
} */

.img-shadow {
  -webkit-box-shadow: -5px 5px 0px 0px rgba(255, 255, 255, 1);
  -moz-box-shadow: -5px 5px 0px 0px rgba(255, 255, 255, 1);
  box-shadow: -5px 5px 0px 0px rgba(255, 255, 255, 1);
  border: 2px solid #fff;
  max-width: 400px;
  min-width: 200px;
  display: inline-block;
  margin: 1em;
}

/* Code found on https://loading.io/css/ */
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #556cd6;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #556cd6 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
}

.loading-indicator p {
  font-weight: bold;
  font-size: 28px;
  color: #556cd6;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes hit-bounce {
  0% {
    transform: scale(1) translateY(0);
  }
  10% {
    transform: scale(1.2, 0.6);
  }
  30% {
    transform: scale(0.8, 1.1) translateY(-10px);
  }
  50% {
    transform: scale(1) translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

/* Mobile */

@media only screen and (max-width: 450px) {
  .big-title {
    padding: 0.7em 0 0.2em 0 !important;
  }
}
